##Overall imports/datasets

In [1]:
#IMPORTS
import pandas as pd
import numpy as np

C:\Users\joyse\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [ ]:
#Load the temp files
temp_jan=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_01.dta")
temp_feb=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_02.dta")
temp_mar=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_03.dta")
temp_apr=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_04.dta")
temp_may=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_05.dta")
temp_june=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_06.dta")
temp_july=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_07.dta")
temp_aug=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_08.dta")
temp_sept=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_09.dta")
temp_oct=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_10.dta")
temp_nov=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_11.dta")
temp_dec=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_12.dta")

#Spain

In [2]:
# Read the Stata dataset into a DataFrame
lat_long_match = pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\QGIS\\final_LatLong_match.dta")
fin_MTUS=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\MTUS_Finland.dta")

In [3]:
#Get all lat/long points in Spain
fin_match = lat_long_match[lat_long_match['name_0'] == 'Finland']

### Create country codes in MTUS Dataset

In [4]:
# #Create a dictionary mapping abbreviations to state names
# for index, row in nl_match.iterrows():
#     if row['name_1'] == 'Zuid Hollandse Meren':
#         nl_match.at[index, 'hasc_1'] = 'NL.ZH'

mapping_dict = dict(zip(fin_match['hasc_1'], fin_match['name_1']))

In [5]:
#Print dictionary to verify
mapping_dict

{'FI.LS': 'Western Finland',
 'FI.ES': 'Southern Finland',
 'FI.IS': 'Eastern Finland',
 'FI.OU': 'Oulu',
 'FI.LP': 'Lapland'}

In [6]:
print(mapping_dict.values())

dict_values(['Western Finland', 'Southern Finland', 'Eastern Finland', 'Oulu', 'Lapland'])

In [7]:
fin_MTUS.columns

Index(['rectype', 'sample', 'ident', 'country', 'hldid', 'persid', 'diary',
       'year', 'diaryid', 'relrefp', 'day', 'month', 'hhtype', 'hhldsize',
       'nchild', 'famstat', 'singpar', 'vehicle', 'computer', 'urban',
       'agekid', 'agekid2', 'age', 'sex', 'civstat', 'cohab', 'edtry', 'educa',
       'carer', 'empstat', 'empsp', 'sector', 'emp', 'unemp', 'workhrs',
       'retired', 'student', 'health', 'region', 'disab', 'income', 'incorig',
       'isco1', 'ocombwt', 'propwt', 'region_fi', 'diarytype', 'badcase',
       'act_chcare', 'act_civic', 'act_educa', 'act_inhome', 'act_media',
       'act_norec', 'act_outhome', 'act_pcare', 'act_physical', 'act_travel',
       'act_undom', 'act_work', 'epnum', 'clockst', 'start', 'end', 'time',
       'main', 'sec', 'eloc', 'inout', 'mtrav', 'alone', 'alone_alt', 'child',
       'sppart', 'oad', 'ict'],
      dtype='object')

In [9]:
#View the regions in the Spain MTUS dataset
fin_MTUS['region_fi'].value_counts()

region_fi
Rest of southern Finland    2347
Western Finland             2219
Greater Helsinki            1058
Eastern Finland             1012
Northern Finland             819
Name: count, dtype: int64

In [10]:
#Flip the value of our earlier dictionary for easier matching later
flipped_dict = {value: key for key, value in mapping_dict.items()}
flipped_dict

{'Western Finland': 'FI.LS',
 'Southern Finland': 'FI.ES',
 'Eastern Finland': 'FI.IS',
 'Oulu': 'FI.OU',
 'Lapland': 'FI.LP'}

In [11]:
#Edditing the final dict based on the syntax from spain_MTUS
final_dict={'Eastern Finland': 'FI.IS', 'Western Finland': 'FI.LS'
           }


# Rest of southern Finland    2347
# Greater Helsinki            1058
# Northern Finland             819

In [12]:
final_dict.keys()

dict_keys(['Eastern Finland', 'Western Finland'])

In [ ]:
#Create a new variable in Spain MTUS with the corresponding abbreviation, useful for later merge
spain_MTUS['region_sp_code'] = spain_MTUS['region_sp'].map(final_dict)

In [ ]:
#Fixing the start time to base 10
spain_MTUS['clockst_base10'] = spain_MTUS['clockst'].apply(lambda x: int(x) + (x % 1) / 0.6 if not pd.isna(x) else x)

### Get all lat/long points by location and merge temperature data into MTUS

In [ ]:
#Get all the lat, long values within a given region
points_by_state = {}

# Iterate over each state code in the dictionary
for state_code in mapping_dict.keys():
    # Filter the DataFrame for points in the current region
    region_points = spain_match.loc[spain_match['hasc_1'] == state_code, ['latitude', 'longitude']]
    
    # Convert the filtered DataFrame to a list of tuples
    points_list = list(zip(region_points['latitude'], region_points['longitude']))
    
    # Store the list of points in the dictionary
    points_by_state[state_code] = points_list

In [ ]:
#Display points_by_state dictionary to verify
points_by_state

#### The following cells get the average temperature for specific months of surveys, if monthly info not available, proceed to next section

In [ ]:
#Create a new df with the stats we want on the temperature based on location for January
year=2003
month="January"
temps_by_region_jan = pd.DataFrame(columns=['Region', "Year", "Month", 'avg_temp_jan', "avg_r_jan", 
                                       "avg_iqr_jan", "avg_sd_jan", 
                                        "avg_n30_jan", "avg_n35_jan"])
for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for point in points_by_state[key]:
        temp_hour_list=[]
        lat,long=point[0], point[1]
        temp_data = temp_jan[(temp_jan['latitude'] == lat) & 
                             (temp_jan['longitude'] == long) & 
                             (temp_jan['year'] == year)]
        
        # Check if any data is found for the point and year
        if not temp_data.empty:
            avg_temp_month_list.extend(temp_data['avg_temp_month1'].tolist())
            num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)] + ['num_hrs_g45_ct']].sum(axis=1).tolist())
            num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)] + ['num_hrs_g45_ct']].sum(axis=1).tolist())
            #num_above_30_list.extend(temp_data['wavg_25_ct'].tolist())
            for hour in range(1, 25):
                temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())
        
        if temp_hour_list:
            iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
            std_list.append(np.std(temp_hour_list))
            range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
             
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0
    
    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_jan.loc[len(temps_by_region_jan.index)] = [key, str(year), month, avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [ ]:
#Verify dataframe
temps_by_region_jan

In [ ]:
#Create a new df with the stats we want on the temperature based on location for April
year=2003
month="April"
temps_by_region_apr = pd.DataFrame(columns=['Region', "Year", "Month", 'avg_temp_apr', "avg_r_apr", 
                                       "avg_iqr_apr", "avg_sd_apr", 
                                        "avg_n30_apr", "avg_n35_apr"])
for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for point in points_by_state[key]:
        temp_hour_list=[]
        lat,long=point[0], point[1]
        temp_data = temp_apr[(temp_apr['latitude'] == lat) & 
                             (temp_apr['longitude'] == long) & 
                             (temp_apr['year'] == year)]
        
        # Check if any data is found for the point and year
        if not temp_data.empty:
            avg_temp_month_list.extend(temp_data['avg_temp_month4'].tolist())
            num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)] + ['num_hrs_g45_ct']].sum(axis=1).tolist())
            num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)] + ['num_hrs_g45_ct']].sum(axis=1).tolist())
            for hour in range(1, 25):
                temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())
        
        if temp_hour_list:
            iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
            std_list.append(np.std(temp_hour_list))
            range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
             
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0
    
    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_apr.loc[len(temps_by_region_apr.index)] = [key, str(year), month, avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [ ]:
#Verify dataframe
temps_by_region_apr

In [ ]:
#Create a new df with the stats we want on the temperature based on location for October
year=2002
month="October"
temps_by_region_oct = pd.DataFrame(columns=['Region', "Year", "Month", 'avg_temp_oct', "avg_r_oct", 
                                       "avg_iqr_oct", "avg_sd_oct", 
                                        "avg_n30_oct", "avg_n35_oct"])
for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for point in points_by_state[key]:
        temp_hour_list=[]
        lat,long=point[0], point[1]
        temp_data = temp_oct[(temp_oct['latitude'] == lat) & 
                             (temp_oct['longitude'] == long) & 
                             (temp_oct['year'] == year)]
        
        # Check if any data is found for the point and year
        if not temp_data.empty:
            avg_temp_month_list.extend(temp_data['avg_temp_month10'].tolist())
            num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)] + ['num_hrs_g45_ct']].sum(axis=1).tolist())
            num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)] + ['num_hrs_g45_ct']].sum(axis=1).tolist())
            for hour in range(1, 25):
                temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())
        
        if temp_hour_list:
            iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
            std_list.append(np.std(temp_hour_list))
            range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
             
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0
    
    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_oct.loc[len(temps_by_region_oct.index)] = [key, str(year), month, avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [ ]:
#Verify dataframe
temps_by_region_oct

In [ ]:
#Create a new df with the stats we want on the temperature based on location for July
year=2003
month="July"
temps_by_region_july = pd.DataFrame(columns=['Region', "Year", "Month", 'avg_temp_july', "avg_r_july", 
                                       "avg_iqr_july", "avg_sd_july", 
                                        "avg_n30_july", "avg_n35_july"])
for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for point in points_by_state[key]:
        temp_hour_list=[]
        lat,long=point[0], point[1]
        temp_data = temp_july[(temp_july['latitude'] == lat) & 
                             (temp_july['longitude'] == long) & 
                             (temp_july['year'] == year)]
        
        # Check if any data is found for the point and year
        if not temp_data.empty:
            avg_temp_month_list.extend(temp_data['avg_temp_month7'].tolist())
            num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
            num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
            for hour in range(1, 25):
                temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())
        

        if temp_hour_list:
            iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
            std_list.append(np.std(temp_hour_list))
            range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
             
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0
    
    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_july.loc[len(temps_by_region_july.index)] = [key, str(year), month, avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [ ]:
#Verify dataframe
temps_by_region_july

In [ ]:
#Merging the results based on region, year, and month
spain_MTUS['region_sp_code_str'] = spain_MTUS['region_sp_code'].astype(str)
spain_MTUS['month_str'] = spain_MTUS['month'].astype(str)
spain_MTUS['year_str'] = spain_MTUS['year'].astype(str)


merged_spain_MTUS = spain_MTUS.merge(temps_by_region_jan, left_on=['region_sp_code_str', 'year_str', 'month_str'], right_on=['Region', 'Year', 'Month'], how='left')
merged_spain_MTUS.drop(columns=['Region', 'Year', 'Month'], inplace=True)
merged_spain_MTUS = merged_spain_MTUS.merge(temps_by_region_apr, left_on=['region_sp_code_str', 'year_str', 'month_str'], right_on=['Region', 'Year', 'Month'], how='left')
merged_spain_MTUS.drop(columns=['Region', 'Year', 'Month'], inplace=True)
merged_spain_MTUS = merged_spain_MTUS.merge(temps_by_region_july, left_on=['region_sp_code_str', 'year_str', 'month_str'], right_on=['Region', 'Year', 'Month'], how='left')
merged_spain_MTUS.drop(columns=['Region', 'Year', 'Month'], inplace=True)
merged_spain_MTUS = merged_spain_MTUS.merge(temps_by_region_oct, left_on=['region_sp_code_str', 'year_str', 'month_str'], right_on=['Region', 'Year', 'Month'], how='left')

#### The following gets the temperature stats for the year(s) of the survey, not the month

In [ ]:
#Create a new df with the stats we want on the temperature based on location for July
year=2002
months=['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july', 'aug', 'sept', 'oct', 'nov', 'dec']
temps_by_region_2002 = pd.DataFrame(columns=['Region', "Year", 'avg_temp_2002', "avg_r_2002", 
                                       "avg_iqr_2002", "avg_sd_2002", 
                                        "avg_n30_2002", "avg_n35_2002"])

for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for i in months:
        for point in points_by_state[key]:
            temp_hour_list=[]
            lat,long=point[0], point[1]
            temp_data = globals()[f'temp_{i}'][(globals()[f'temp_{i}']['latitude'] == lat) &
                                   (globals()[f'temp_{i}']['longitude'] == long) &
                                   (globals()[f'temp_{i}']['year'] == year)]


        # Check if any data is found for the point and year

            if not temp_data.empty:
                month_index = months.index(i) + 1
                avg_temp_name = f'avg_temp_month{month_index}'
                avg_temp_month_list.extend(temp_data[avg_temp_name].tolist())
                num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
                num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
                for hour in range(1, 25):
                    temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())


            if temp_hour_list:
                iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
                std_list.append(np.std(temp_hour_list))
                range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
    
    #Get the averages for all points in a region over all months in a year
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0

    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_2002.loc[len(temps_by_region_2002.index)] = [key, str(year), avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [ ]:
temps_by_region_2002

In [ ]:
#Create a new df with the stats we want on the temperature based on location for July
year=2003
months=['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july', 'aug', 'sept', 'oct', 'nov', 'dec']
temps_by_region_2003 = pd.DataFrame(columns=['Region', "Year", 'avg_temp_2003', "avg_r_2003", 
                                       "avg_iqr_2003", "avg_sd_2003", 
                                        "avg_n30_2003", "avg_n35_2003"])

for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for i in months:
        for point in points_by_state[key]:
            temp_hour_list=[]
            lat,long=point[0], point[1]
            temp_data = globals()[f'temp_{i}'][(globals()[f'temp_{i}']['latitude'] == lat) &
                                   (globals()[f'temp_{i}']['longitude'] == long) &
                                   (globals()[f'temp_{i}']['year'] == year)]


        # Check if any data is found for the point and year

            if not temp_data.empty:
                month_index = months.index(i) + 1
                avg_temp_name = f'avg_temp_month{month_index}'
                avg_temp_month_list.extend(temp_data[avg_temp_name].tolist())
                num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
                num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
                for hour in range(1, 25):
                    temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())


            if temp_hour_list:
                iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
                std_list.append(np.std(temp_hour_list))
                range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
    
    #Get the averages for all points in a region over all months in a year
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0

    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_2003.loc[len(temps_by_region_2003.index)] = [key, str(year), avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [ ]:
temps_by_region_2003

In [ ]:
#Merging the results based on region, year, and month
# spain_MTUS['region_sp_code_str'] = spain_MTUS['region_sp_code'].astype(str)
# spain_MTUS['month_str'] = spain_MTUS['month'].astype(str)
# spain_MTUS['year_str'] = spain_MTUS['year'].astype(str)

merged_spain_MTUS.drop(columns=['Region', 'Year', 'Month'], inplace=True)
merged_spain_MTUS = merged_spain_MTUS.merge(temps_by_region_2002, left_on=['region_sp_code_str', 'year_str'], right_on=['Region', 'Year'], how='left')
merged_spain_MTUS.drop(columns=['Region', 'Year'], inplace=True)
merged_spain_MTUS = merged_spain_MTUS.merge(temps_by_region_2003, left_on=['region_sp_code_str', 'year_str'], right_on=['Region', 'Year'], how='left')
#merged_spain_MTUS.drop(columns=['Region', 'Year'], inplace=True)

In [ ]:
#Formatting so that the temp stats appear on each Person line, regardless of month or year
merged_spain_MTUS['avg_temp_m'] = np.nan
merged_spain_MTUS['avg_r_m'] = np.nan
merged_spain_MTUS['avg_iqr_m'] = np.nan
merged_spain_MTUS['avg_sd_m'] = np.nan
merged_spain_MTUS['avg_n30_m'] = np.nan
merged_spain_MTUS['avg_n35_m'] = np.nan
    

for index, row in merged_spain_MTUS.iterrows():
    jan_temp = row['avg_temp_jan']
    oct_temp=row['avg_temp_oct']
    july_temp=row['avg_temp_july']
    april_temp=row['avg_temp_apr']
    
    if not pd.isna(jan_temp):
        merged_spain_MTUS.at[index, 'avg_temp_m']=jan_temp
        merged_spain_MTUS.at[index, 'avg_r_m']=row['avg_r_jan']
        merged_spain_MTUS.at[index, 'avg_iqr_m']=row['avg_iqr_jan']
        merged_spain_MTUS.at[index, 'avg_sd_m']=row['avg_sd_jan']
        merged_spain_MTUS.at[index, 'avg_n30_m']=row['avg_n30_jan']
        merged_spain_MTUS.at[index, 'avg_n35_m']=row['avg_n35_jan']
        
    elif not pd.isna(oct_temp):
        merged_spain_MTUS.at[index, 'avg_temp_m']=oct_temp
        merged_spain_MTUS.at[index, 'avg_r_m']=row['avg_r_oct']
        merged_spain_MTUS.at[index, 'avg_iqr_m']=row['avg_iqr_oct']
        merged_spain_MTUS.at[index, 'avg_sd_m']=row['avg_sd_oct']
        merged_spain_MTUS.at[index, 'avg_n30_m']=row['avg_n30_oct']
        merged_spain_MTUS.at[index, 'avg_n35_m']=row['avg_n35_oct']
        
    elif not pd.isna(july_temp):
        merged_spain_MTUS.at[index, 'avg_temp_m']=july_temp
        merged_spain_MTUS.at[index, 'avg_r_m']=row['avg_r_july']
        merged_spain_MTUS.at[index, 'avg_iqr_m']=row['avg_iqr_july']
        merged_spain_MTUS.at[index, 'avg_sd_m']=row['avg_sd_july']
        merged_spain_MTUS.at[index, 'avg_n30_m']=row['avg_n30_july']
        merged_spain_MTUS.at[index, 'avg_n35_m']=row['avg_n35_july']
        
    elif not pd.isna(april_temp):
        merged_spain_MTUS.at[index, 'avg_temp_m']=april_temp
        merged_spain_MTUS.at[index, 'avg_r_m']=row['avg_r_apr']
        merged_spain_MTUS.at[index, 'avg_iqr_m']=row['avg_iqr_apr']
        merged_spain_MTUS.at[index, 'avg_sd_m']=row['avg_sd_apr']
        merged_spain_MTUS.at[index, 'avg_n30_m']=row['avg_n30_apr']
        merged_spain_MTUS.at[index, 'avg_n35_m']=row['avg_n35_apr']

In [ ]:
#Formatting so that the temp stats appear once and on the same row as the person entry, not their diary entry
merged_spain_MTUS['avg_temp_y'] = np.nan
merged_spain_MTUS['avg_r_y'] = np.nan
merged_spain_MTUS['avg_iqr_y'] = np.nan
merged_spain_MTUS['avg_sd_y'] = np.nan
merged_spain_MTUS['avg_n30_y'] = np.nan
merged_spain_MTUS['avg_n35_y'] = np.nan
    

for index, row in merged_spain_MTUS.iterrows():
    temp_2003 = row['avg_temp_2003']
    temp_2002=row['avg_temp_2002']
    
    
    if not pd.isna(temp_2003):
        merged_spain_MTUS.at[index, 'avg_temp_y']=temp_2003
        merged_spain_MTUS.at[index, 'avg_r_y']=row['avg_r_2003']
        merged_spain_MTUS.at[index, 'avg_iqr_y']=row['avg_iqr_2003']
        merged_spain_MTUS.at[index, 'avg_sd_y']=row['avg_sd_2003']
        merged_spain_MTUS.at[index, 'avg_n30_y']=row['avg_n30_2003']
        merged_spain_MTUS.at[index, 'avg_n35_y']=row['avg_n35_2003']
        
    elif not pd.isna(temp_2002):
        merged_spain_MTUS.at[index, 'avg_temp_y']=temp_2002
        merged_spain_MTUS.at[index, 'avg_r_y']=row['avg_r_2002']
        merged_spain_MTUS.at[index, 'avg_iqr_y']=row['avg_iqr_2002']
        merged_spain_MTUS.at[index, 'avg_sd_y']=row['avg_sd_2002']
        merged_spain_MTUS.at[index, 'avg_n30_y']=row['avg_n30_2002']
        merged_spain_MTUS.at[index, 'avg_n35_y']=row['avg_n35_2002']

### Create time-use variables of interest

In [ ]:
merged_spain_MTUS['rectype_str'] = merged_spain_MTUS['rectype'].astype(str)

In [ ]:
merged_spain_MTUS['clockend_base10'] = merged_spain_MTUS['clockst_base10']+ (merged_spain_MTUS['time']/60)
# Apply modulo operation to handle values greater than 24
merged_spain_MTUS['clockend_base10'] = merged_spain_MTUS['clockend_base10'] % 24

In [ ]:
#Create variables for start work time, start commute time, start work time at home, and work at home
merged_spain_MTUS['main_str'] = spain_MTUS['main'].astype(str)
merged_spain_MTUS['sec_str'] = spain_MTUS['sec'].astype(str)
merged_spain_MTUS.sort_values(by=['ident', 'clockst_base10'], inplace=True)

# Initialize the new column
merged_spain_MTUS['start_work_time'] = None
# merged_spain_MTUS['end_work_time']=None
merged_spain_MTUS['start_work_time_home'] = None
merged_spain_MTUS['start_commute_time'] = None
merged_spain_MTUS['work_at_home'] = 0

# Create a set to keep track of indices for which "paid work main job" has been encountered
people_with_paid_work = set()
people_with_commute=set()
people_with_paid_work_home = set()

# Iterate through the rows
for index, row in merged_spain_MTUS.iterrows():
    current_person = row['ident']
    main_activity = row['main_str']
    sec_activity = row['sec_str']
    clockst_base10 = row['clockst_base10']
#     clockend_base10=row['clockend_base10']

    if (main_activity == "Paid work-main job (not at home)" or sec_activity == "Paid work-main job (not at home)"):
#         merged_spain_MTUS.at[index, 'end_work_time'] = clockend_base10
        if current_person not in people_with_paid_work:
        # Record the first occurrence of "paid work main job" for the current index
            people_with_paid_work.add(current_person)
            merged_spain_MTUS.at[index, 'start_work_time'] = clockst_base10
        
    if (main_activity == "Paid work at home" or sec_activity == "Paid work at home"):
#         merged_spain_MTUS.at[index, 'end_work_time'] = clockend_base10
        if current_person not in people_with_paid_work_home:
            # Record the first occurrence of "paid work main job" for the current index
            people_with_paid_work_home.add(current_person)
            merged_spain_MTUS.at[index, 'start_work_time_home'] = clockst_base10
            merged_spain_MTUS.at[index, 'work_at_home'] = 1
    
    if (main_activity == "Travel to/from work" or sec_activity == "Travel to/from work") and current_person not in people_with_commute:
        # Record the first occurrence of "paid work main job" for the current index
        people_with_commute.add(current_person)
        merged_spain_MTUS.at[index, 'start_commute_time'] = clockst_base10

In [ ]:
merged_spain_MTUS['start_work_time'] = merged_spain_MTUS['start_work_time'].astype(str)
merged_spain_MTUS['start_work_time_home'] = merged_spain_MTUS['start_work_time_home'].astype(str)
merged_spain_MTUS['start_commute_time'] = merged_spain_MTUS['start_commute_time'].astype(str)

In [ ]:
#Create total break time variable
merged_spain_MTUS.sort_values(by=['ident', 'clockst_base10'], inplace=True)
cumulative_break_times_peak = {}
cumulative_break_times_offpeak = {}
end_time_dict={}

# Iterate through the rows
for index, row in merged_spain_MTUS.iterrows():
    current_person = row['ident']
    main_activity = row['main_str']
    sec_activity = row['sec_str']
    clockst_base10 = row['clockst_base10']
    time = row['time']
    end_time = clockst_base10 + (time / 60)
    clockend_base10=row['clockend_base10']
    
    if (main_activity == "Paid work at home" or sec_activity == "Paid work at home"):
        end_time_dict[current_person]=clockend_base10
    if (main_activity == "Paid work-main job (not at home)" or sec_activity == "Paid work-main job (not at home)"):
        end_time_dict[current_person]=clockend_base10
    if (main_activity == "Work breaks" or sec_activity == "Work breaks"):
        if current_person not in cumulative_break_times_peak:
            cumulative_break_times_peak[current_person] = 0
            cumulative_break_times_offpeak[current_person] = 0
   
    # Check if the break falls within peak hours (12-16)
        if 12 <= clockst_base10 <= 16:
            if 12 <= end_time <= 16:
                cumulative_break_times_peak[current_person] += end_time - clockst_base10
            else:
                cumulative_break_times_peak[current_person] += 16 - clockst_base10
                cumulative_break_times_offpeak[current_person] += end_time - 16
        else:
            if 12 <= end_time <= 16:
                cumulative_break_times_peak[current_person] += end_time - 12
                cumulative_break_times_offpeak[current_person] += 12 - clockst_base10
            else:
                cumulative_break_times_offpeak[current_person] += end_time - clockst_base10

grouped = pd.DataFrame({
    'ident': list(cumulative_break_times_peak.keys()),
    'total_break_time_peak': list(cumulative_break_times_peak.values()),
    'total_break_time_offpeak': list(cumulative_break_times_offpeak.values())
})

grouped1= pd.DataFrame({
    'ident': list(end_time_dict.keys()),
    'end_work_time': list(end_time_dict.values())
})


# Display the resulting DataFrame
# print(grouped)

In [ ]:
#Update the dataset with the new break time variables
merged_spain_MTUS = merged_spain_MTUS.merge(grouped, left_on=['ident'], right_on=['ident'], how='left')
merged_spain_MTUS = merged_spain_MTUS.merge(grouped1, left_on=['ident'], right_on=['ident'], how='left')

In [ ]:
merged_spain_MTUS_copy = merged_spain_MTUS.copy()

In [ ]:
merged_spain_MTUS_copy.sort_values(by=['ident', 'rectype_str', 'clockst_base10'], ascending=[True, False, True], inplace=True)

In [ ]:
#Formatting so that total break time only appears once in the Person row
merged_spain_MTUS_copy['total_break_time_peak'] = merged_spain_MTUS_copy.apply(
    lambda row: row['total_break_time_peak'] if row['rectype_str'] == 'Person' else None,
    axis=1
)


merged_spain_MTUS_copy['total_break_time_offpeak'] = merged_spain_MTUS_copy.apply(
    lambda row: row['total_break_time_offpeak'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

merged_spain_MTUS_copy['end_work_time'] = merged_spain_MTUS_copy.apply(
    lambda row: row['end_work_time'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

In [ ]:
#Formatting again so that time use variables only appear once in the Person row of the df
merged_spain_MTUS_copy.sort_values(by=['ident', 'rectype_str', 'clockst_base10'], ascending=[True, False, True], inplace=True)
merged_spain_MTUS_copy.reset_index(drop=True, inplace=True)  # Reset the index
start_work = {}
start_work_h={}
start_commute={}
work_at_h={}

# Iterate through the rows
for index, row in merged_spain_MTUS_copy.iterrows():
    current_person = row['ident']
    start_work_time=row['start_work_time']
    start_work_time_home=row['start_work_time_home'] 
    start_commute_time=row['start_commute_time'] 
    work_at_home=row['work_at_home']    
    
    work_at_h[current_person]=work_at_home
    
    if start_work_time!='None':
        start_work[current_person]=start_work_time
        
    if start_work_time_home!='None':
        start_work_h[current_person]=start_work_time_home
        
    if start_commute_time!='None':
        start_commute[current_person]=start_commute_time
    

start_w = pd.DataFrame({
    'ident': list(start_work.keys()),
    'start_work_time1': list(start_work.values()),
})

start_wh = pd.DataFrame({
    'ident': list(start_work_h.keys()),
    'start_work_time_home1': list(start_work_h.values()),
})

start_com = pd.DataFrame({
    'ident': list(start_commute.keys()),
    'start_commute_time1': list(start_commute.values()),
})

work_ah = pd.DataFrame({
    'ident': list(work_at_h.keys()),
    'work_at_home1': list(work_at_h.values()),
})

In [ ]:
#Merge for formating so that the time use variables appear in every row of that Person
merged_spain_MTUS_copy = merged_spain_MTUS_copy.merge(start_w, left_on=['ident'], right_on=['ident'], how='left')
merged_spain_MTUS_copy = merged_spain_MTUS_copy.merge(start_wh, left_on=['ident'], right_on=['ident'], how='left')
merged_spain_MTUS_copy = merged_spain_MTUS_copy.merge(start_com, left_on=['ident'], right_on=['ident'], how='left')
merged_spain_MTUS_copy = merged_spain_MTUS_copy.merge(work_ah, left_on=['ident'], right_on=['ident'], how='left')

In [ ]:
#Format so that the time use variables only appear once in the Person row, not in the subsequent Diary rows
merged_spain_MTUS_copy['start_work_time1'] = merged_spain_MTUS_copy.apply(
    lambda row: row['start_work_time1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

merged_spain_MTUS_copy['start_work_time_home1'] = merged_spain_MTUS_copy.apply(
    lambda row: row['start_work_time_home1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

merged_spain_MTUS_copy['start_commute_time1'] = merged_spain_MTUS_copy.apply(
    lambda row: row['start_commute_time1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

merged_spain_MTUS_copy['work_at_home1'] = merged_spain_MTUS_copy.apply(
    lambda row: row['work_at_home1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

In [ ]:
merged_spain_MTUS_copy.drop(columns=['work_at_home','start_commute_time' , 'start_work_time_home', 'start_work_time'], inplace=True)

In [ ]:
merged_spain_MTUS_copy = merged_spain_MTUS_copy.rename(columns={'work_at_home1': 'work_at_home', 'start_commute_time1': 'start_commute_time', 'start_work_time_home1': 'start_work_time_home', 'start_work_time1': 'start_work_time'})

In [ ]:
merged_spain_MTUS_copy['start_commute_time'] = merged_spain_MTUS_copy['start_commute_time'].astype(float)
merged_spain_MTUS_copy['start_work_time_home'] = merged_spain_MTUS_copy['start_work_time_home'].astype(float)
merged_spain_MTUS_copy['start_work_time'] = merged_spain_MTUS_copy['start_work_time'].astype(float)

In [ ]:
#Final merge to stata
merged_spain_MTUS_copy.to_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\MTUS_Spain_FINAL.dta")

In [ ]:
!pip uninstall numpy
!pip install numpy==1.23.1

##Graphing

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
np.bool = np.bool_

df=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\MTUS_Spain_UPDATED_FINAL.dta")

In [ ]:
df['region_sp_str'] = df['region_sp'].astype(str)

In [ ]:
unique=df['region_sp_str'].unique()
unique_val=[]

for i in unique:
    if i!='nan':
        unique_val.append(i)

In [ ]:
###HOTTEST REGIONS FOR REFERENCE

import pandas as pd

# Assuming df is your DataFrame with 'region_sp_str' and 'avg_temp_y' columns
avg_temp_by_region = df.groupby('region_sp_str')['avg_temp_y'].mean()
sorted_regions = avg_temp_by_region.sort_values(ascending=False).index.tolist()

In [ ]:
#Graph for start time and avg_temp
# Assuming df is your DataFrame with 'region_sp_str' and 'avg_temp_y' columns
sns.set(style="white", rc={"axes.facecolor": (0, 0, 0, 0)})

# Number of regions
num_regions = len(sorted_regions)

# Create a reversed color gradient from red to blue
colors = sns.color_palette("RdBu_r", n_colors=num_regions)[::-1]

# Create a dictionary to map regions to colors
region_color_dict = dict(zip(sorted_regions, colors))

plt.figure(figsize=(12, 8))

for region in sorted_regions:
    # Subset to the region
    subset = df[df['region_sp_str'] == region]
    
    # Draw the density plot using kdeplot with color based on avg_temp_y
    sns.kdeplot(subset['start_work_time'], label=region, color=region_color_dict[region], linewidth=1, warn_singular=False)

plt.legend(prop={'size': 10}, title='Regions (Hottest to Coldest)', bbox_to_anchor=(1, 1), loc='upper left', facecolor='white')
plt.title('Density Plot of Start Work Time Within Spain')
plt.xlabel('Start Work Time (24 Hours)')
plt.xlim(0, 24)
plt.xticks(range(25))
plt.tick_params(axis='x', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels
plt.tick_params(axis='y', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels

plt.ylabel('Density')

# Save the plot as an image (e.g., JPG)
plt.savefig("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\Spain_Starttime.jpg", bbox_inches='tight', dpi=300)

# Show the plot
plt.show()

In [ ]:
#Similar graph, but for end time and avg_temp
# Assuming df is your DataFrame with 'region_sp_str' and 'avg_temp_y' columns
sns.set(style="white", rc={"axes.facecolor": (0, 0, 0, 0)})

# Number of regions
num_regions = len(sorted_regions)

# Create a reversed color gradient from red to blue
colors = sns.color_palette("RdBu_r", n_colors=num_regions)[::-1]

# Create a dictionary to map regions to colors
region_color_dict = dict(zip(sorted_regions, colors))

plt.figure(figsize=(12, 8))

for region in sorted_regions:
    # Subset to the region
    subset = df[df['region_sp_str'] == region]
    
    # Draw the density plot using kdeplot with color based on avg_temp_y
    sns.kdeplot(subset['end_work_time'], label=region, color=region_color_dict[region], linewidth=1, warn_singular=False)

plt.legend(prop={'size': 10}, title='Regions (Hottest to Coldest)', bbox_to_anchor=(1, 1), loc='upper left', facecolor='white')
plt.title('Density Plot of End Work Time Within Spain')
plt.xlabel('End Work Time (24 Hours)')
plt.xlim(0, 24)
plt.xticks(range(25))
plt.tick_params(axis='x', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels
plt.tick_params(axis='y', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels

plt.ylabel('Density')

# Save the plot as an image (e.g., JPG)
plt.savefig("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\Spain_Endtime.jpg", bbox_inches='tight', dpi=300)

# Show the plot
plt.show()

In [ ]:
#Do the same but for n30, number of days above 30 degrees

# Assuming df is your DataFrame with 'region_sp_str' and 'avg_temp_y' columns
avg_n30_by_region = df.groupby('region_sp_str')['avg_n30_y'].mean()
sorted_regions_n30 = avg_n30_by_region.sort_values(ascending=False).index.tolist()

In [ ]:
#Graph for start time and n30
# Assuming df is your DataFrame with 'region_sp_str' and 'avg_temp_y' columns
sns.set(style="white", rc={"axes.facecolor": (0, 0, 0, 0)})

# Number of regions
num_regions = len(sorted_regions_n30)

# Create a reversed color gradient from red to blue
colors = sns.color_palette("RdBu_r", n_colors=num_regions)[::-1]

# Create a dictionary to map regions to colors
region_color_dict = dict(zip(sorted_regions_n30, colors))

plt.figure(figsize=(12, 8))

for region in sorted_regions_n30:
    # Subset to the region
    subset = df[df['region_sp_str'] == region]
    
    # Draw the density plot using kdeplot with color based on avg_temp_y
    sns.kdeplot(subset['start_work_time'], label=region, color=region_color_dict[region], linewidth=1, warn_singular=False)

plt.legend(prop={'size': 10}, title='Regions (Most to Least Days>=30)', bbox_to_anchor=(1, 1), loc='upper left', facecolor='white')
plt.title('Density Plot of Start Work Time Within Spain')
plt.xlabel('Start Work Time (24 Hours)')
plt.xlim(0, 24)
plt.xticks(range(25))
plt.tick_params(axis='x', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels
plt.tick_params(axis='y', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels

plt.ylabel('Density')

# Save the plot as an image (e.g., JPG)
plt.savefig("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\Spain_Starttime_n30.jpg", bbox_inches='tight', dpi=300)

# Show the plot
plt.show()

In [ ]:
#Graph for end time and n30
# Assuming df is your DataFrame with 'region_sp_str' and 'avg_temp_y' columns
sns.set(style="white", rc={"axes.facecolor": (0, 0, 0, 0)})

# Number of regions
num_regions = len(sorted_regions_n30)

# Create a reversed color gradient from red to blue
colors = sns.color_palette("RdBu_r", n_colors=num_regions)[::-1]

# Create a dictionary to map regions to colors
region_color_dict = dict(zip(sorted_regions_n30, colors))

plt.figure(figsize=(12, 8))

for region in sorted_regions_n30:
    # Subset to the region
    subset = df[df['region_sp_str'] == region]
    
    # Draw the density plot using kdeplot with color based on avg_temp_y
    sns.kdeplot(subset['end_work_time'], label=region, color=region_color_dict[region], linewidth=1, warn_singular=False)

plt.legend(prop={'size': 10}, title='Regions (Most to Least Days>=30)', bbox_to_anchor=(1, 1), loc='upper left', facecolor='white')
plt.title('Density Plot of End Work Time Within Spain')
plt.xlabel('End Work Time (24 Hours)')
plt.xlim(0, 24)
plt.xticks(range(25))
plt.tick_params(axis='x', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels
plt.tick_params(axis='y', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels

plt.ylabel('Density')

# Save the plot as an image (e.g., JPG)
plt.savefig("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\Spain_Endtime_n30.jpg", bbox_inches='tight', dpi=300)

# Show the plot
plt.show()