##Overall imports/datasets

In [1]:
#IMPORTS
import pandas as pd
import numpy as np

C:\Users\joyse\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
#Load the temp files
temp_jan=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_01.dta")
temp_feb=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_02.dta")
temp_mar=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_03.dta")
temp_apr=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_04.dta")
temp_may=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_05.dta")
temp_june=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_06.dta")
temp_july=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_07.dta")
temp_aug=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_08.dta")
temp_sept=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_09.dta")
temp_oct=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_10.dta")
temp_nov=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_11.dta")
temp_dec=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\monthlyPanelsTemp\\2m_temperature_1950_2019_12.dta")

#Hungary

In [3]:
# Read the Stata dataset into a DataFrame
lat_long_match = pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\QGIS\\final_LatLong_match.dta")
hungary_MTUS=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\MTUS_Hungary.dta")

In [4]:
#Get all lat/long points in Spain
hungary_match = lat_long_match[lat_long_match['name_0'] == 'Hungary']

### Create country codes in MTUS Dataset

In [5]:
mapping_dict = dict(zip(hungary_match['hasc_1'], hungary_match['name_1']))

In [6]:
#Print dictionary to verify
mapping_dict

{'HU.SO': 'Somogy',
 'HU.BA': 'Baranya',
 'HU.TO': 'Tolna',
 'HU.BK': 'Bács-Kiskun',
 'HU.CS': 'Csongrád',
 'HU.ZA': 'Zala',
 'HU.BE': 'Békés',
 'HU.VA': 'Vas',
 'HU.VE': 'Veszprém',
 'HU.FE': 'Fejér',
 'HU.PE': 'Pest',
 'HU.JN': 'Jász-Nagykun-Szolnok',
 'HU.HB': 'Hajdú-Bihar',
 'HU.GS': 'Gyor-Moson-Sopron',
 'HU.KE': 'Komárom-Esztergom',
 'HU.HE': 'Heves',
 'HU.BZ': 'Borsod-Abaúj-Zemplén',
 'HU.SZ': 'Szabolcs-Szatmár-Bereg'}

In [7]:
print(mapping_dict.values())

dict_values(['Somogy', 'Baranya', 'Tolna', 'Bács-Kiskun', 'Csongrád', 'Zala', 'Békés', 'Vas', 'Veszprém', 'Fejér', 'Pest', 'Jász-Nagykun-Szolnok', 'Hajdú-Bihar', 'Gyor-Moson-Sopron', 'Komárom-Esztergom', 'Heves', 'Borsod-Abaúj-Zemplén', 'Szabolcs-Szatmár-Bereg'])

In [8]:
hungary_MTUS.columns

Index(['rectype', 'sample', 'ident', 'country', 'hldid', 'persid', 'diary',
       'year', 'diaryid', 'day', 'month', 'hhtype', 'hhldsize', 'nchild',
       'famstat', 'singpar', 'ownhome', 'vehicle', 'computer', 'urban',
       'agekid_hu', 'age', 'sex', 'citizen', 'civstat', 'cohab', 'edtry',
       'educa', 'empstat', 'empsp', 'sector', 'emp', 'unemp', 'workhrs',
       'retired', 'student', 'health', 'region', 'disab', 'income', 'incorig',
       'occupo', 'isco1', 'ocombwt', 'propwt', 'region_hu', 'diarytype',
       'badcase', 'act_chcare', 'act_civic', 'act_educa', 'act_inhome',
       'act_media', 'act_norec', 'act_outhome', 'act_pcare', 'act_physical',
       'act_travel', 'act_undom', 'act_work', 'cday', 'epnum', 'clockst',
       'start', 'end', 'time', 'main', 'sec', 'eloc', 'inout', 'mtrav',
       'alone', 'alone_alt', 'child', 'sppart', 'oad', 'ict'],
      dtype='object')

In [9]:
#View the regions in the Spain MTUS dataset
hungary_MTUS['region_hu'].value_counts()

region_hu
Budapest (NUTS 3)                  1141
Pest (NUTS 3)                       812
Borsod-Abaúj-Zemplén (NUTS 3)       705
Szabolcs-Szatmár-Bereg (NUTS 3)     538
Hajdú-Bihar (NUTS 3)                520
Bács-Kiskun (NUTS 3)                506
Békés (NUTS 3)                      394
Jász-Nagykun-Szolnok (NUTS 3)       382
Baranya (NUTS 3)                    353
Fejér (NUTS 3)                      342
Csongrád (NUTS 3)                   337
Gyõr-Moson-Sopron (NUTS 3)          311
Veszprém (NUTS 3)                   310
Heves (NUTS 3)                      277
Somogy (NUTS 3)                     265
Zala (NUTS 3)                       264
Komárom-Esztergom (NUTS 3)          263
Tolna (NUTS 3)                      228
Vas (NUTS 3)                        226
Nógrád (NUTS 3)                     216
Name: count, dtype: int64

In [10]:
#Flip the value of our earlier dictionary for easier matching later
flipped_dict = {value: key for key, value in mapping_dict.items()}
flipped_dict

{'Somogy': 'HU.SO',
 'Baranya': 'HU.BA',
 'Tolna': 'HU.TO',
 'Bács-Kiskun': 'HU.BK',
 'Csongrád': 'HU.CS',
 'Zala': 'HU.ZA',
 'Békés': 'HU.BE',
 'Vas': 'HU.VA',
 'Veszprém': 'HU.VE',
 'Fejér': 'HU.FE',
 'Pest': 'HU.PE',
 'Jász-Nagykun-Szolnok': 'HU.JN',
 'Hajdú-Bihar': 'HU.HB',
 'Gyor-Moson-Sopron': 'HU.GS',
 'Komárom-Esztergom': 'HU.KE',
 'Heves': 'HU.HE',
 'Borsod-Abaúj-Zemplén': 'HU.BZ',
 'Szabolcs-Szatmár-Bereg': 'HU.SZ'}

In [11]:
#Edditing the final dict based on the syntax from spain_MTUS
final_dict={'Pest (NUTS 3)': 'HU.PE', 'Borsod-Abaúj-Zemplén (NUTS 3)': 'HU.BZ', 'Szabolcs-Szatmár-Bereg (NUTS 3)': 'HU.SZ', 
            'Hajdú-Bihar (NUTS 3)': 'HU.HB', 'Bács-Kiskun (NUTS 3)': 'HU.BK', 'Békés (NUTS 3)': 'HU.BE',
            'Jász-Nagykun-Szolnok (NUTS 3)': 'HU.JN', 'Baranya (NUTS 3)': 'HU.BA', 'Fejér (NUTS 3)': 'HU.FE',
            'Csongrád (NUTS 3)': 'HU.CS', 'Gyõr-Moson-Sopron (NUTS 3)': 'HU.GS', 'Veszprém (NUTS 3)': 'HU.VE', 
            'Heves (NUTS 3)': 'HU.HE', 'Somogy (NUTS 3)': 'HU.SO', 'Zala (NUTS 3)': 'HU.ZA', 'Komárom-Esztergom (NUTS 3)': 'HU.KE', 
            'Tolna (NUTS 3)': 'HU.TO', 'Vas (NUTS 3)': 'HU.VA', 'Budapest (NUTS 3)': 'HU.PE', 'Nógrád (NUTS 3)': 'HU.HE'
           }

In [ ]:
final_dict.keys()

In [12]:
#Create a new variable in Spain MTUS with the corresponding abbreviation, useful for later merge
hungary_MTUS['region_hu_code'] = hungary_MTUS['region_hu'].map(final_dict)

In [13]:
#Fixing the start time to base 10
hungary_MTUS['clockst_base10'] = hungary_MTUS['clockst'].apply(lambda x: int(x) + (x % 1) / 0.6 if not pd.isna(x) else x)

### Get all lat/long points by location and merge temperature data into MTUS

In [14]:
#Get all the lat, long values within a given region
points_by_state = {}

# Iterate over each state code in the dictionary
for state_code in mapping_dict.keys():
    # Filter the DataFrame for points in the current region
    region_points = hungary_match.loc[hungary_match['hasc_1'] == state_code, ['latitude', 'longitude']]
    
    # Convert the filtered DataFrame to a list of tuples
    points_list = list(zip(region_points['latitude'], region_points['longitude']))
    
    # Store the list of points in the dictionary
    points_by_state[state_code] = points_list

In [15]:
#Display points_by_state dictionary to verify
points_by_state

{'HU.SO': [(46.25, 17.25), (46.25, 17.75), (46.75, 17.75)],
 'HU.BA': [(46.25, 18.25)],
 'HU.TO': [(46.25, 18.75), (46.75, 18.25), (46.75, 18.75)],
 'HU.BK': [(46.25, 19.25), (46.75, 19.25), (46.75, 19.75)],
 'HU.CS': [(46.25, 19.75), (46.25, 20.25), (46.25, 20.75), (46.75, 20.25)],
 'HU.ZA': [(46.75, 16.75), (46.75, 17.25)],
 'HU.BE': [(46.75, 20.75), (46.75, 21.25)],
 'HU.VA': [(47.25, 16.75)],
 'HU.VE': [(47.25, 17.25), (47.25, 17.75)],
 'HU.FE': [(47.25, 18.25), (47.25, 18.75)],
 'HU.PE': [(47.25, 19.25), (47.25, 19.75), (47.75, 19.25)],
 'HU.JN': [(47.25, 20.25), (47.25, 20.75)],
 'HU.HB': [(47.25, 21.25), (47.25, 21.75), (47.75, 21.25)],
 'HU.GS': [(47.75, 17.25), (47.75, 17.75)],
 'HU.KE': [(47.75, 18.75)],
 'HU.HE': [(47.75, 19.75), (47.75, 20.25)],
 'HU.BZ': [(47.75, 20.75),
  (48.25, 20.25),
  (48.25, 20.75),
  (48.25, 21.25),
  (48.25, 21.75)],
 'HU.SZ': [(47.75, 21.75), (47.75, 22.25), (48.25, 22.25)]}

#### The following cells get the average temperature for specific months of surveys, if monthly info not available, proceed to next section

In [ ]:
#Create a new df with the stats we want on the temperature based on location for January
year=2003
month="January"
temps_by_region_jan = pd.DataFrame(columns=['Region', "Year", "Month", 'avg_temp_jan', "avg_r_jan", 
                                       "avg_iqr_jan", "avg_sd_jan", 
                                        "avg_n30_jan", "avg_n35_jan"])
for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for point in points_by_state[key]:
        temp_hour_list=[]
        lat,long=point[0], point[1]
        temp_data = temp_jan[(temp_jan['latitude'] == lat) & 
                             (temp_jan['longitude'] == long) & 
                             (temp_jan['year'] == year)]
        
        # Check if any data is found for the point and year
        if not temp_data.empty:
            avg_temp_month_list.extend(temp_data['avg_temp_month1'].tolist())
            num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)] + ['num_hrs_g45_ct']].sum(axis=1).tolist())
            num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)] + ['num_hrs_g45_ct']].sum(axis=1).tolist())
            #num_above_30_list.extend(temp_data['wavg_25_ct'].tolist())
            for hour in range(1, 25):
                temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())
        
        if temp_hour_list:
            iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
            std_list.append(np.std(temp_hour_list))
            range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
             
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0
    
    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_jan.loc[len(temps_by_region_jan.index)] = [key, str(year), month, avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [ ]:
#Verify dataframe
temps_by_region_jan

In [ ]:
#Create a new df with the stats we want on the temperature based on location for April
year=2003
month="April"
temps_by_region_apr = pd.DataFrame(columns=['Region', "Year", "Month", 'avg_temp_apr', "avg_r_apr", 
                                       "avg_iqr_apr", "avg_sd_apr", 
                                        "avg_n30_apr", "avg_n35_apr"])
for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for point in points_by_state[key]:
        temp_hour_list=[]
        lat,long=point[0], point[1]
        temp_data = temp_apr[(temp_apr['latitude'] == lat) & 
                             (temp_apr['longitude'] == long) & 
                             (temp_apr['year'] == year)]
        
        # Check if any data is found for the point and year
        if not temp_data.empty:
            avg_temp_month_list.extend(temp_data['avg_temp_month4'].tolist())
            num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)] + ['num_hrs_g45_ct']].sum(axis=1).tolist())
            num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)] + ['num_hrs_g45_ct']].sum(axis=1).tolist())
            for hour in range(1, 25):
                temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())
        
        if temp_hour_list:
            iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
            std_list.append(np.std(temp_hour_list))
            range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
             
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0
    
    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_apr.loc[len(temps_by_region_apr.index)] = [key, str(year), month, avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [ ]:
#Verify dataframe
temps_by_region_apr

In [ ]:
#Create a new df with the stats we want on the temperature based on location for October
year=2002
month="October"
temps_by_region_oct = pd.DataFrame(columns=['Region', "Year", "Month", 'avg_temp_oct', "avg_r_oct", 
                                       "avg_iqr_oct", "avg_sd_oct", 
                                        "avg_n30_oct", "avg_n35_oct"])
for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for point in points_by_state[key]:
        temp_hour_list=[]
        lat,long=point[0], point[1]
        temp_data = temp_oct[(temp_oct['latitude'] == lat) & 
                             (temp_oct['longitude'] == long) & 
                             (temp_oct['year'] == year)]
        
        # Check if any data is found for the point and year
        if not temp_data.empty:
            avg_temp_month_list.extend(temp_data['avg_temp_month10'].tolist())
            num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)] + ['num_hrs_g45_ct']].sum(axis=1).tolist())
            num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)] + ['num_hrs_g45_ct']].sum(axis=1).tolist())
            for hour in range(1, 25):
                temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())
        
        if temp_hour_list:
            iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
            std_list.append(np.std(temp_hour_list))
            range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
             
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0
    
    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_oct.loc[len(temps_by_region_oct.index)] = [key, str(year), month, avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [ ]:
#Verify dataframe
temps_by_region_oct

In [ ]:
#Create a new df with the stats we want on the temperature based on location for July
year=2003
month="July"
temps_by_region_july = pd.DataFrame(columns=['Region', "Year", "Month", 'avg_temp_july', "avg_r_july", 
                                       "avg_iqr_july", "avg_sd_july", 
                                        "avg_n30_july", "avg_n35_july"])
for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for point in points_by_state[key]:
        temp_hour_list=[]
        lat,long=point[0], point[1]
        temp_data = temp_july[(temp_july['latitude'] == lat) & 
                             (temp_july['longitude'] == long) & 
                             (temp_july['year'] == year)]
        
        # Check if any data is found for the point and year
        if not temp_data.empty:
            avg_temp_month_list.extend(temp_data['avg_temp_month7'].tolist())
            num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
            num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
            for hour in range(1, 25):
                temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())
        

        if temp_hour_list:
            iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
            std_list.append(np.std(temp_hour_list))
            range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
             
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0
    
    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_july.loc[len(temps_by_region_july.index)] = [key, str(year), month, avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [ ]:
#Verify dataframe
temps_by_region_july

In [ ]:
#Merging the results based on region, year, and month
spain_MTUS['region_sp_code_str'] = spain_MTUS['region_sp_code'].astype(str)
spain_MTUS['month_str'] = spain_MTUS['month'].astype(str)
spain_MTUS['year_str'] = spain_MTUS['year'].astype(str)


merged_spain_MTUS = spain_MTUS.merge(temps_by_region_jan, left_on=['region_sp_code_str', 'year_str', 'month_str'], right_on=['Region', 'Year', 'Month'], how='left')
merged_spain_MTUS.drop(columns=['Region', 'Year', 'Month'], inplace=True)
merged_spain_MTUS = merged_spain_MTUS.merge(temps_by_region_apr, left_on=['region_sp_code_str', 'year_str', 'month_str'], right_on=['Region', 'Year', 'Month'], how='left')
merged_spain_MTUS.drop(columns=['Region', 'Year', 'Month'], inplace=True)
merged_spain_MTUS = merged_spain_MTUS.merge(temps_by_region_july, left_on=['region_sp_code_str', 'year_str', 'month_str'], right_on=['Region', 'Year', 'Month'], how='left')
merged_spain_MTUS.drop(columns=['Region', 'Year', 'Month'], inplace=True)
merged_spain_MTUS = merged_spain_MTUS.merge(temps_by_region_oct, left_on=['region_sp_code_str', 'year_str', 'month_str'], right_on=['Region', 'Year', 'Month'], how='left')

#### The following gets the temperature stats for the year(s) of the survey, not the month

In [16]:
#Create a new df with the stats we want on the temperature based on location for July
year=1999
months=['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july', 'aug', 'sept', 'oct', 'nov', 'dec']
temps_by_region_1999 = pd.DataFrame(columns=['Region', "Year", 'avg_temp_1999', "avg_r_1999", 
                                       "avg_iqr_1999", "avg_sd_1999", 
                                        "avg_n30_1999", "avg_n35_1999"])

for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for i in months:
        for point in points_by_state[key]:
            temp_hour_list=[]
            lat,long=point[0], point[1]
            temp_data = globals()[f'temp_{i}'][(globals()[f'temp_{i}']['latitude'] == lat) &
                                   (globals()[f'temp_{i}']['longitude'] == long) &
                                   (globals()[f'temp_{i}']['year'] == year)]


        # Check if any data is found for the point and year

            if not temp_data.empty:
                month_index = months.index(i) + 1
                avg_temp_name = f'avg_temp_month{month_index}'
                avg_temp_month_list.extend(temp_data[avg_temp_name].tolist())
                num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
                num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
                for hour in range(1, 25):
                    temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())


            if temp_hour_list:
                iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
                std_list.append(np.std(temp_hour_list))
                range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
    
    #Get the averages for all points in a region over all months in a year
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0

    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_1999.loc[len(temps_by_region_1999.index)] = [key, str(year), avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [17]:
temps_by_region_1999

,Region,Year,avg_temp_1999,avg_r_1999,avg_iqr_1999,avg_sd_1999,avg_n30_1999,avg_n35_1999
0,HU.SO,1999,11.110523,6.829923,4.336532,2.345620,2.638889,0.000000
1,HU.BA,1999,10.923823,7.088332,4.589131,2.445851,2.500000,0.000000
2,HU.TO,1999,10.987149,6.962762,4.483217,2.403816,2.250000,0.000000
3,HU.BK,1999,11.184440,7.342913,4.747691,2.530669,3.083333,0.000000
4,HU.CS,1999,11.515517,7.475186,4.799665,2.570882,4.937500,0.166667
5,HU.ZA,1999,10.837871,6.823545,4.285825,2.336935,2.208333,0.000000
6,HU.BE,1999,11.420059,7.455276,4.757518,2.553212,3.875000,0.000000
7,HU.VA,1999,10.214043,7.061032,4.521989,2.444287,1.000000,0.000000
8,HU.VE,1999,10.460800,6.606655,4.202931,2.276265,1.541667,0.000000
9,HU.FE,1999,10.414496,6.815376,4.395505,2.358058,1.375000,0.000000
10,HU.PE,1999,10.525555,7.174421,4.612756,2.466587,1.444444,0.000000
11,HU.JN,1999,11.144718,7.326671,4.658901,2.501410,2.583333,0.000000
12,HU.HB,1999,11.014808,7.359263,4.700619,2.519208,2.888889,0.000000
13,HU.GS,1999,10.786472,6.851984,4.387625,2.372216,1.625000,0.000000
14,HU.KE,1999,9.972154,7.168369,4.686725,2.484001,0.500000,0.000000
15,HU.HE,1999,10.026628,7.327006,4.683515,2.511628,0.791667,0.000000
16,HU.BZ,1999,9.645092,7.431122,4.761057,2.544492,1.283333,0.000000
17,HU.SZ,1999,10.534301,7.476802,4.798305,2.572343,3.500000,0.000000

In [18]:
#Create a new df with the stats we want on the temperature based on location for July
year=2000
months=['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july', 'aug', 'sept', 'oct', 'nov', 'dec']
temps_by_region_2000 = pd.DataFrame(columns=['Region', "Year", 'avg_temp_2000', "avg_r_2000", 
                                       "avg_iqr_2000", "avg_sd_2000", 
                                        "avg_n30_2000", "avg_n35_2000"])

for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for i in months:
        for point in points_by_state[key]:
            temp_hour_list=[]
            lat,long=point[0], point[1]
            temp_data = globals()[f'temp_{i}'][(globals()[f'temp_{i}']['latitude'] == lat) &
                                   (globals()[f'temp_{i}']['longitude'] == long) &
                                   (globals()[f'temp_{i}']['year'] == year)]


        # Check if any data is found for the point and year

            if not temp_data.empty:
                month_index = months.index(i) + 1
                avg_temp_name = f'avg_temp_month{month_index}'
                avg_temp_month_list.extend(temp_data[avg_temp_name].tolist())
                num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
                num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
                for hour in range(1, 25):
                    temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())


            if temp_hour_list:
                iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
                std_list.append(np.std(temp_hour_list))
                range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
    
    #Get the averages for all points in a region over all months in a year
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0

    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_2000.loc[len(temps_by_region_2000.index)] = [key, str(year), avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [19]:
temps_by_region_2000

,Region,Year,avg_temp_2000,avg_r_2000,avg_iqr_2000,avg_sd_2000,avg_n30_2000,avg_n35_2000
0,HU.SO,2000,12.718204,7.871407,5.042250,2.721644,16.416667,1.611111
1,HU.BA,2000,12.581020,8.155164,5.246698,2.832919,16.166667,1.666667
2,HU.TO,2000,12.530869,8.105146,5.271885,2.824732,16.638889,1.611111
3,HU.BK,2000,12.749595,8.632631,5.612754,3.002293,21.805556,2.138889
4,HU.CS,2000,13.045348,8.847020,5.690325,3.059842,25.000000,3.125000
5,HU.ZA,2000,12.304866,7.698790,4.872124,2.642529,10.958333,0.541667
6,HU.BE,2000,12.742959,8.643420,5.558426,2.985897,21.791667,2.583333
7,HU.VA,2000,11.500047,7.997090,5.192727,2.772866,6.750000,0.000000
8,HU.VE,2000,11.890789,7.359627,4.680698,2.540734,10.166667,0.125000
9,HU.FE,2000,11.790540,7.797709,5.092902,2.716796,12.750000,0.875000
10,HU.PE,2000,11.781741,8.045030,5.276867,2.801260,13.805556,1.000000
11,HU.JN,2000,12.412334,8.401099,5.449428,2.909998,20.041667,2.416667
12,HU.HB,2000,12.152843,8.360843,5.386339,2.882366,18.833333,2.055556
13,HU.GS,2000,12.141318,7.550351,4.848790,2.613191,12.000000,0.958333
14,HU.KE,2000,11.122618,7.862386,5.224041,2.753729,9.500000,0.333333
15,HU.HE,2000,11.203408,8.118001,5.309496,2.817651,12.500000,0.625000
16,HU.BZ,2000,10.652793,8.332420,5.339374,2.854983,10.383333,0.533333
17,HU.SZ,2000,11.480459,8.498734,5.452822,2.923107,17.138889,2.083333

In [20]:
#Create a new df with the stats we want on the temperature based on location for July
year=2009
months=['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july', 'aug', 'sept', 'oct', 'nov', 'dec']
temps_by_region_2009 = pd.DataFrame(columns=['Region', "Year", 'avg_temp_2009', "avg_r_2009", 
                                       "avg_iqr_2009", "avg_sd_2009", 
                                        "avg_n30_2009", "avg_n35_2009"])

for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for i in months:
        for point in points_by_state[key]:
            temp_hour_list=[]
            lat,long=point[0], point[1]
            temp_data = globals()[f'temp_{i}'][(globals()[f'temp_{i}']['latitude'] == lat) &
                                   (globals()[f'temp_{i}']['longitude'] == long) &
                                   (globals()[f'temp_{i}']['year'] == year)]


        # Check if any data is found for the point and year

            if not temp_data.empty:
                month_index = months.index(i) + 1
                avg_temp_name = f'avg_temp_month{month_index}'
                avg_temp_month_list.extend(temp_data[avg_temp_name].tolist())
                num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
                num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
                for hour in range(1, 25):
                    temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())


            if temp_hour_list:
                iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
                std_list.append(np.std(temp_hour_list))
                range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
    
    #Get the averages for all points in a region over all months in a year
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0

    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_2009.loc[len(temps_by_region_2009.index)] = [key, str(year), avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [21]:
temps_by_region_2009

,Region,Year,avg_temp_2009,avg_r_2009,avg_iqr_2009,avg_sd_2009,avg_n30_2009,avg_n35_2009
0,HU.SO,2009,12.149231,7.257067,4.616924,2.501509,8.250000,0.138889
1,HU.BA,2009,12.071007,7.513451,4.863714,2.601287,7.916667,0.166667
2,HU.TO,2009,12.243100,7.589183,4.915629,2.637186,9.722222,0.194444
3,HU.BK,2009,12.489731,7.980773,5.237942,2.782582,13.055556,0.305556
4,HU.CS,2009,12.722660,8.120810,5.360405,2.829284,14.562500,0.354167
5,HU.ZA,2009,11.706198,7.148918,4.531771,2.464285,4.875000,0.000000
6,HU.BE,2009,12.560606,8.042867,5.276141,2.790108,11.958333,0.041667
7,HU.VA,2009,11.049074,7.309773,4.745047,2.550076,2.666667,0.000000
8,HU.VE,2009,11.376618,6.990238,4.460852,2.421385,3.791667,0.000000
9,HU.FE,2009,11.553877,7.403114,4.761524,2.566144,6.333333,0.000000
10,HU.PE,2009,11.676648,7.669711,4.998226,2.667258,8.388889,0.000000
11,HU.JN,2009,12.362432,7.929416,5.180269,2.752824,12.666667,0.000000
12,HU.HB,2009,12.185940,7.974966,5.167352,2.750601,12.250000,0.000000
13,HU.GS,2009,11.662099,7.155123,4.628679,2.492637,5.666667,0.000000
14,HU.KE,2009,10.875565,7.639609,4.942027,2.645876,3.750000,0.000000
15,HU.HE,2009,11.122822,7.745777,5.043530,2.683521,5.458333,0.000000
16,HU.BZ,2009,10.751795,7.905929,5.094312,2.723079,6.100000,0.000000
17,HU.SZ,2009,11.594922,8.171008,5.253868,2.811806,10.611111,0.000000

In [22]:
#Create a new df with the stats we want on the temperature based on location for July
year=2010
months=['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july', 'aug', 'sept', 'oct', 'nov', 'dec']
temps_by_region_2010 = pd.DataFrame(columns=['Region', "Year", 'avg_temp_2010', "avg_r_2010", 
                                       "avg_iqr_2010", "avg_sd_2010", 
                                        "avg_n30_2010", "avg_n35_2010"])

for key in points_by_state.keys():
    avg_temp_month_list=[]
    num_above_30_list=[]
    num_above_35_list=[]
    iqr_list=[]
    range_list=[]
    std_list=[]
    for i in months:
        for point in points_by_state[key]:
            temp_hour_list=[]
            lat,long=point[0], point[1]
            temp_data = globals()[f'temp_{i}'][(globals()[f'temp_{i}']['latitude'] == lat) &
                                   (globals()[f'temp_{i}']['longitude'] == long) &
                                   (globals()[f'temp_{i}']['year'] == year)]


        # Check if any data is found for the point and year

            if not temp_data.empty:
                month_index = months.index(i) + 1
                avg_temp_name = f'avg_temp_month{month_index}'
                avg_temp_month_list.extend(temp_data[avg_temp_name].tolist())
                num_above_30_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(30, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
                num_above_35_list.extend(temp_data[['num_hrs_{}_ct'.format(i) for i in range(35, 45)]+ ['num_hrs_g45_ct']].sum(axis=1).tolist())
                for hour in range(1, 25):
                    temp_hour_list.extend(temp_data[f'avg_temp_hr{hour}'].tolist())


            if temp_hour_list:
                iqr_list.append(np.percentile(temp_hour_list, 75) - np.percentile(temp_hour_list, 25))
                std_list.append(np.std(temp_hour_list))
                range_list.append(np.max(temp_hour_list) - np.min(temp_hour_list))
    
    #Get the averages for all points in a region over all months in a year
    avg_temp_region = np.mean(avg_temp_month_list) if avg_temp_month_list else 0
    range_region = np.mean(range_list) if range_list else 0
    iqr_region = np.mean(iqr_list) if iqr_list else 0
    std_dev_region = np.mean(std_list) if std_list else 0

    avg_num_30_region=np.mean(num_above_30_list)
    avg_num_35_region=np.mean(num_above_35_list)
 
    temps_by_region_2010.loc[len(temps_by_region_2010.index)] = [key, str(year), avg_temp_region, range_region, iqr_region,std_dev_region,
                                                      avg_num_30_region, avg_num_35_region]

In [23]:
temps_by_region_2010

,Region,Year,avg_temp_2010,avg_r_2010,avg_iqr_2010,avg_sd_2010,avg_n30_2010,avg_n35_2010
0,HU.SO,2010,10.636482,6.576395,4.133575,2.259847,6.388889,0.0
1,HU.BA,2010,10.518564,6.734973,4.366267,2.340008,5.666667,0.0
2,HU.TO,2010,10.607542,6.669679,4.356648,2.323706,6.666667,0.0
3,HU.BK,2010,10.859338,7.067929,4.647409,2.459515,8.194444,0.0
4,HU.CS,2010,11.291382,7.260301,4.732937,2.514615,10.854167,0.0
5,HU.ZA,2010,10.451497,6.604736,4.129944,2.265031,6.125000,0.0
6,HU.BE,2010,11.307888,7.282594,4.690013,2.512147,8.833333,0.0
7,HU.VA,2010,9.911473,6.855250,4.393657,2.369735,6.416667,0.0
8,HU.VE,2010,10.047694,6.400322,4.051843,2.200229,6.125000,0.0
9,HU.FE,2010,9.988019,6.603472,4.314282,2.292029,5.250000,0.0
10,HU.PE,2010,10.121066,6.953152,4.482567,2.392689,4.944444,0.0
11,HU.JN,2010,10.835110,7.106805,4.554490,2.447855,7.125000,0.0
12,HU.HB,2010,10.831492,7.063108,4.554604,2.438915,6.166667,0.0
13,HU.GS,2010,10.221484,6.707251,4.234071,2.309359,7.375000,0.0
14,HU.KE,2010,9.472491,6.827971,4.416804,2.356338,3.000000,0.0
15,HU.HE,2010,9.646965,7.024940,4.500539,2.415034,1.791667,0.0
16,HU.BZ,2010,9.298549,7.031641,4.529795,2.427436,1.950000,0.0
17,HU.SZ,2010,10.322904,7.094248,4.608011,2.464720,4.055556,0.0

In [ ]:
#Merging the results based on region, year, and month
hungary_MTUS['region_sp_code_str'] = hungary_MTUS['region_sp_code'].astype(str)
hungary_MTUS['month_str'] = hungary_MTUS['month'].astype(str)
hungary_MTUS['year_str'] = hungary_MTUS['year'].astype(str)

#merged_spain_MTUS.drop(columns=['Region', 'Year', 'Month'], inplace=True)
merged_hungary_MTUS = hungary_MTUS.merge(temps_by_region_1999, left_on=['region_sp_code_str', 'year_str'], right_on=['Region', 'Year'], how='left')
merged_hungary_MTUS.drop(columns=['Region', 'Year'], inplace=True)
# merged_spain_MTUS = merged_spain_MTUS.merge(temps_by_region_2003, left_on=['region_sp_code_str', 'year_str'], right_on=['Region', 'Year'], how='left')
# #merged_spain_MTUS.drop(columns=['Region', 'Year'], inplace=True)

In [ ]:
#Formatting so that the temp stats appear on each Person line, regardless of month or year
merged_spain_MTUS['avg_temp_m'] = np.nan
merged_spain_MTUS['avg_r_m'] = np.nan
merged_spain_MTUS['avg_iqr_m'] = np.nan
merged_spain_MTUS['avg_sd_m'] = np.nan
merged_spain_MTUS['avg_n30_m'] = np.nan
merged_spain_MTUS['avg_n35_m'] = np.nan
    

for index, row in merged_spain_MTUS.iterrows():
    jan_temp = row['avg_temp_jan']
    oct_temp=row['avg_temp_oct']
    july_temp=row['avg_temp_july']
    april_temp=row['avg_temp_apr']
    
    if not pd.isna(jan_temp):
        merged_spain_MTUS.at[index, 'avg_temp_m']=jan_temp
        merged_spain_MTUS.at[index, 'avg_r_m']=row['avg_r_jan']
        merged_spain_MTUS.at[index, 'avg_iqr_m']=row['avg_iqr_jan']
        merged_spain_MTUS.at[index, 'avg_sd_m']=row['avg_sd_jan']
        merged_spain_MTUS.at[index, 'avg_n30_m']=row['avg_n30_jan']
        merged_spain_MTUS.at[index, 'avg_n35_m']=row['avg_n35_jan']
        
    elif not pd.isna(oct_temp):
        merged_spain_MTUS.at[index, 'avg_temp_m']=oct_temp
        merged_spain_MTUS.at[index, 'avg_r_m']=row['avg_r_oct']
        merged_spain_MTUS.at[index, 'avg_iqr_m']=row['avg_iqr_oct']
        merged_spain_MTUS.at[index, 'avg_sd_m']=row['avg_sd_oct']
        merged_spain_MTUS.at[index, 'avg_n30_m']=row['avg_n30_oct']
        merged_spain_MTUS.at[index, 'avg_n35_m']=row['avg_n35_oct']
        
    elif not pd.isna(july_temp):
        merged_spain_MTUS.at[index, 'avg_temp_m']=july_temp
        merged_spain_MTUS.at[index, 'avg_r_m']=row['avg_r_july']
        merged_spain_MTUS.at[index, 'avg_iqr_m']=row['avg_iqr_july']
        merged_spain_MTUS.at[index, 'avg_sd_m']=row['avg_sd_july']
        merged_spain_MTUS.at[index, 'avg_n30_m']=row['avg_n30_july']
        merged_spain_MTUS.at[index, 'avg_n35_m']=row['avg_n35_july']
        
    elif not pd.isna(april_temp):
        merged_spain_MTUS.at[index, 'avg_temp_m']=april_temp
        merged_spain_MTUS.at[index, 'avg_r_m']=row['avg_r_apr']
        merged_spain_MTUS.at[index, 'avg_iqr_m']=row['avg_iqr_apr']
        merged_spain_MTUS.at[index, 'avg_sd_m']=row['avg_sd_apr']
        merged_spain_MTUS.at[index, 'avg_n30_m']=row['avg_n30_apr']
        merged_spain_MTUS.at[index, 'avg_n35_m']=row['avg_n35_apr']

In [ ]:
#Formatting so that the temp stats appear once and on the same row as the person entry, not their diary entry
merged_spain_MTUS['avg_temp_y'] = np.nan
merged_spain_MTUS['avg_r_y'] = np.nan
merged_spain_MTUS['avg_iqr_y'] = np.nan
merged_spain_MTUS['avg_sd_y'] = np.nan
merged_spain_MTUS['avg_n30_y'] = np.nan
merged_spain_MTUS['avg_n35_y'] = np.nan
    

for index, row in merged_spain_MTUS.iterrows():
    temp_2003 = row['avg_temp_2003']
    temp_2002=row['avg_temp_2002']
    
    
    if not pd.isna(temp_2003):
        merged_spain_MTUS.at[index, 'avg_temp_y']=temp_2003
        merged_spain_MTUS.at[index, 'avg_r_y']=row['avg_r_2003']
        merged_spain_MTUS.at[index, 'avg_iqr_y']=row['avg_iqr_2003']
        merged_spain_MTUS.at[index, 'avg_sd_y']=row['avg_sd_2003']
        merged_spain_MTUS.at[index, 'avg_n30_y']=row['avg_n30_2003']
        merged_spain_MTUS.at[index, 'avg_n35_y']=row['avg_n35_2003']
        
    elif not pd.isna(temp_2002):
        merged_spain_MTUS.at[index, 'avg_temp_y']=temp_2002
        merged_spain_MTUS.at[index, 'avg_r_y']=row['avg_r_2002']
        merged_spain_MTUS.at[index, 'avg_iqr_y']=row['avg_iqr_2002']
        merged_spain_MTUS.at[index, 'avg_sd_y']=row['avg_sd_2002']
        merged_spain_MTUS.at[index, 'avg_n30_y']=row['avg_n30_2002']
        merged_spain_MTUS.at[index, 'avg_n35_y']=row['avg_n35_2002']

### Create time-use variables of interest

In [ ]:
merged_spain_MTUS['rectype_str'] = merged_spain_MTUS['rectype'].astype(str)

In [ ]:
merged_spain_MTUS['clockend_base10'] = merged_spain_MTUS['clockst_base10']+ (merged_spain_MTUS['time']/60)
# Apply modulo operation to handle values greater than 24
merged_spain_MTUS['clockend_base10'] = merged_spain_MTUS['clockend_base10'] % 24

In [ ]:
#Create variables for start work time, start commute time, start work time at home, and work at home
merged_spain_MTUS['main_str'] = spain_MTUS['main'].astype(str)
merged_spain_MTUS['sec_str'] = spain_MTUS['sec'].astype(str)
merged_spain_MTUS.sort_values(by=['ident', 'clockst_base10'], inplace=True)

# Initialize the new column
merged_spain_MTUS['start_work_time'] = None
# merged_spain_MTUS['end_work_time']=None
merged_spain_MTUS['start_work_time_home'] = None
merged_spain_MTUS['start_commute_time'] = None
merged_spain_MTUS['work_at_home'] = 0

# Create a set to keep track of indices for which "paid work main job" has been encountered
people_with_paid_work = set()
people_with_commute=set()
people_with_paid_work_home = set()

# Iterate through the rows
for index, row in merged_spain_MTUS.iterrows():
    current_person = row['ident']
    main_activity = row['main_str']
    sec_activity = row['sec_str']
    clockst_base10 = row['clockst_base10']
#     clockend_base10=row['clockend_base10']

    if (main_activity == "Paid work-main job (not at home)" or sec_activity == "Paid work-main job (not at home)"):
#         merged_spain_MTUS.at[index, 'end_work_time'] = clockend_base10
        if current_person not in people_with_paid_work:
        # Record the first occurrence of "paid work main job" for the current index
            people_with_paid_work.add(current_person)
            merged_spain_MTUS.at[index, 'start_work_time'] = clockst_base10
        
    if (main_activity == "Paid work at home" or sec_activity == "Paid work at home"):
#         merged_spain_MTUS.at[index, 'end_work_time'] = clockend_base10
        if current_person not in people_with_paid_work_home:
            # Record the first occurrence of "paid work main job" for the current index
            people_with_paid_work_home.add(current_person)
            merged_spain_MTUS.at[index, 'start_work_time_home'] = clockst_base10
            merged_spain_MTUS.at[index, 'work_at_home'] = 1
    
    if (main_activity == "Travel to/from work" or sec_activity == "Travel to/from work") and current_person not in people_with_commute:
        # Record the first occurrence of "paid work main job" for the current index
        people_with_commute.add(current_person)
        merged_spain_MTUS.at[index, 'start_commute_time'] = clockst_base10

In [ ]:
merged_spain_MTUS['start_work_time'] = merged_spain_MTUS['start_work_time'].astype(str)
merged_spain_MTUS['start_work_time_home'] = merged_spain_MTUS['start_work_time_home'].astype(str)
merged_spain_MTUS['start_commute_time'] = merged_spain_MTUS['start_commute_time'].astype(str)

In [ ]:
#Create total break time variable
merged_spain_MTUS.sort_values(by=['ident', 'clockst_base10'], inplace=True)
cumulative_break_times_peak = {}
cumulative_break_times_offpeak = {}
end_time_dict={}

# Iterate through the rows
for index, row in merged_spain_MTUS.iterrows():
    current_person = row['ident']
    main_activity = row['main_str']
    sec_activity = row['sec_str']
    clockst_base10 = row['clockst_base10']
    time = row['time']
    end_time = clockst_base10 + (time / 60)
    clockend_base10=row['clockend_base10']
    
    if (main_activity == "Paid work at home" or sec_activity == "Paid work at home"):
        end_time_dict[current_person]=clockend_base10
    if (main_activity == "Paid work-main job (not at home)" or sec_activity == "Paid work-main job (not at home)"):
        end_time_dict[current_person]=clockend_base10
    if (main_activity == "Work breaks" or sec_activity == "Work breaks"):
        if current_person not in cumulative_break_times_peak:
            cumulative_break_times_peak[current_person] = 0
            cumulative_break_times_offpeak[current_person] = 0
   
    # Check if the break falls within peak hours (12-16)
        if 12 <= clockst_base10 <= 16:
            if 12 <= end_time <= 16:
                cumulative_break_times_peak[current_person] += end_time - clockst_base10
            else:
                cumulative_break_times_peak[current_person] += 16 - clockst_base10
                cumulative_break_times_offpeak[current_person] += end_time - 16
        else:
            if 12 <= end_time <= 16:
                cumulative_break_times_peak[current_person] += end_time - 12
                cumulative_break_times_offpeak[current_person] += 12 - clockst_base10
            else:
                cumulative_break_times_offpeak[current_person] += end_time - clockst_base10

grouped = pd.DataFrame({
    'ident': list(cumulative_break_times_peak.keys()),
    'total_break_time_peak': list(cumulative_break_times_peak.values()),
    'total_break_time_offpeak': list(cumulative_break_times_offpeak.values())
})

grouped1= pd.DataFrame({
    'ident': list(end_time_dict.keys()),
    'end_work_time': list(end_time_dict.values())
})


# Display the resulting DataFrame
# print(grouped)

In [ ]:
#Update the dataset with the new break time variables
merged_spain_MTUS = merged_spain_MTUS.merge(grouped, left_on=['ident'], right_on=['ident'], how='left')
merged_spain_MTUS = merged_spain_MTUS.merge(grouped1, left_on=['ident'], right_on=['ident'], how='left')

In [ ]:
merged_spain_MTUS_copy = merged_spain_MTUS.copy()

In [ ]:
merged_spain_MTUS_copy.sort_values(by=['ident', 'rectype_str', 'clockst_base10'], ascending=[True, False, True], inplace=True)

In [ ]:
#Formatting so that total break time only appears once in the Person row
merged_spain_MTUS_copy['total_break_time_peak'] = merged_spain_MTUS_copy.apply(
    lambda row: row['total_break_time_peak'] if row['rectype_str'] == 'Person' else None,
    axis=1
)


merged_spain_MTUS_copy['total_break_time_offpeak'] = merged_spain_MTUS_copy.apply(
    lambda row: row['total_break_time_offpeak'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

merged_spain_MTUS_copy['end_work_time'] = merged_spain_MTUS_copy.apply(
    lambda row: row['end_work_time'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

In [ ]:
#Formatting again so that time use variables only appear once in the Person row of the df
merged_spain_MTUS_copy.sort_values(by=['ident', 'rectype_str', 'clockst_base10'], ascending=[True, False, True], inplace=True)
merged_spain_MTUS_copy.reset_index(drop=True, inplace=True)  # Reset the index
start_work = {}
start_work_h={}
start_commute={}
work_at_h={}

# Iterate through the rows
for index, row in merged_spain_MTUS_copy.iterrows():
    current_person = row['ident']
    start_work_time=row['start_work_time']
    start_work_time_home=row['start_work_time_home'] 
    start_commute_time=row['start_commute_time'] 
    work_at_home=row['work_at_home']    
    
    work_at_h[current_person]=work_at_home
    
    if start_work_time!='None':
        start_work[current_person]=start_work_time
        
    if start_work_time_home!='None':
        start_work_h[current_person]=start_work_time_home
        
    if start_commute_time!='None':
        start_commute[current_person]=start_commute_time
    

start_w = pd.DataFrame({
    'ident': list(start_work.keys()),
    'start_work_time1': list(start_work.values()),
})

start_wh = pd.DataFrame({
    'ident': list(start_work_h.keys()),
    'start_work_time_home1': list(start_work_h.values()),
})

start_com = pd.DataFrame({
    'ident': list(start_commute.keys()),
    'start_commute_time1': list(start_commute.values()),
})

work_ah = pd.DataFrame({
    'ident': list(work_at_h.keys()),
    'work_at_home1': list(work_at_h.values()),
})

In [ ]:
#Merge for formating so that the time use variables appear in every row of that Person
merged_spain_MTUS_copy = merged_spain_MTUS_copy.merge(start_w, left_on=['ident'], right_on=['ident'], how='left')
merged_spain_MTUS_copy = merged_spain_MTUS_copy.merge(start_wh, left_on=['ident'], right_on=['ident'], how='left')
merged_spain_MTUS_copy = merged_spain_MTUS_copy.merge(start_com, left_on=['ident'], right_on=['ident'], how='left')
merged_spain_MTUS_copy = merged_spain_MTUS_copy.merge(work_ah, left_on=['ident'], right_on=['ident'], how='left')

In [ ]:
#Format so that the time use variables only appear once in the Person row, not in the subsequent Diary rows
merged_spain_MTUS_copy['start_work_time1'] = merged_spain_MTUS_copy.apply(
    lambda row: row['start_work_time1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

merged_spain_MTUS_copy['start_work_time_home1'] = merged_spain_MTUS_copy.apply(
    lambda row: row['start_work_time_home1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

merged_spain_MTUS_copy['start_commute_time1'] = merged_spain_MTUS_copy.apply(
    lambda row: row['start_commute_time1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

merged_spain_MTUS_copy['work_at_home1'] = merged_spain_MTUS_copy.apply(
    lambda row: row['work_at_home1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

In [ ]:
merged_spain_MTUS_copy.drop(columns=['work_at_home','start_commute_time' , 'start_work_time_home', 'start_work_time'], inplace=True)

In [ ]:
merged_spain_MTUS_copy = merged_spain_MTUS_copy.rename(columns={'work_at_home1': 'work_at_home', 'start_commute_time1': 'start_commute_time', 'start_work_time_home1': 'start_work_time_home', 'start_work_time1': 'start_work_time'})

In [ ]:
merged_spain_MTUS_copy['start_commute_time'] = merged_spain_MTUS_copy['start_commute_time'].astype(float)
merged_spain_MTUS_copy['start_work_time_home'] = merged_spain_MTUS_copy['start_work_time_home'].astype(float)
merged_spain_MTUS_copy['start_work_time'] = merged_spain_MTUS_copy['start_work_time'].astype(float)

In [ ]:
#Final merge to stata
merged_spain_MTUS_copy.to_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\MTUS_Spain_FINAL.dta")

In [ ]:
!pip uninstall numpy
!pip install numpy==1.23.1

##Graphing

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
np.bool = np.bool_

df=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\MTUS_Spain_UPDATED_FINAL.dta")

In [ ]:
df['region_sp_str'] = df['region_sp'].astype(str)

In [ ]:
unique=df['region_sp_str'].unique()
unique_val=[]

for i in unique:
    if i!='nan':
        unique_val.append(i)

In [ ]:
###HOTTEST REGIONS FOR REFERENCE

import pandas as pd

# Assuming df is your DataFrame with 'region_sp_str' and 'avg_temp_y' columns
avg_temp_by_region = df.groupby('region_sp_str')['avg_temp_y'].mean()
sorted_regions = avg_temp_by_region.sort_values(ascending=False).index.tolist()

In [ ]:
#Graph for start time and avg_temp
# Assuming df is your DataFrame with 'region_sp_str' and 'avg_temp_y' columns
sns.set(style="white", rc={"axes.facecolor": (0, 0, 0, 0)})

# Number of regions
num_regions = len(sorted_regions)

# Create a reversed color gradient from red to blue
colors = sns.color_palette("RdBu_r", n_colors=num_regions)[::-1]

# Create a dictionary to map regions to colors
region_color_dict = dict(zip(sorted_regions, colors))

plt.figure(figsize=(12, 8))

for region in sorted_regions:
    # Subset to the region
    subset = df[df['region_sp_str'] == region]
    
    # Draw the density plot using kdeplot with color based on avg_temp_y
    sns.kdeplot(subset['start_work_time'], label=region, color=region_color_dict[region], linewidth=1, warn_singular=False)

plt.legend(prop={'size': 10}, title='Regions (Hottest to Coldest)', bbox_to_anchor=(1, 1), loc='upper left', facecolor='white')
plt.title('Density Plot of Start Work Time Within Spain')
plt.xlabel('Start Work Time (24 Hours)')
plt.xlim(0, 24)
plt.xticks(range(25))
plt.tick_params(axis='x', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels
plt.tick_params(axis='y', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels

plt.ylabel('Density')

# Save the plot as an image (e.g., JPG)
plt.savefig("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\Spain_Starttime.jpg", bbox_inches='tight', dpi=300)

# Show the plot
plt.show()

In [ ]:
#Similar graph, but for end time and avg_temp
# Assuming df is your DataFrame with 'region_sp_str' and 'avg_temp_y' columns
sns.set(style="white", rc={"axes.facecolor": (0, 0, 0, 0)})

# Number of regions
num_regions = len(sorted_regions)

# Create a reversed color gradient from red to blue
colors = sns.color_palette("RdBu_r", n_colors=num_regions)[::-1]

# Create a dictionary to map regions to colors
region_color_dict = dict(zip(sorted_regions, colors))

plt.figure(figsize=(12, 8))

for region in sorted_regions:
    # Subset to the region
    subset = df[df['region_sp_str'] == region]
    
    # Draw the density plot using kdeplot with color based on avg_temp_y
    sns.kdeplot(subset['end_work_time'], label=region, color=region_color_dict[region], linewidth=1, warn_singular=False)

plt.legend(prop={'size': 10}, title='Regions (Hottest to Coldest)', bbox_to_anchor=(1, 1), loc='upper left', facecolor='white')
plt.title('Density Plot of End Work Time Within Spain')
plt.xlabel('End Work Time (24 Hours)')
plt.xlim(0, 24)
plt.xticks(range(25))
plt.tick_params(axis='x', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels
plt.tick_params(axis='y', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels

plt.ylabel('Density')

# Save the plot as an image (e.g., JPG)
plt.savefig("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\Spain_Endtime.jpg", bbox_inches='tight', dpi=300)

# Show the plot
plt.show()

In [ ]:
#Do the same but for n30, number of days above 30 degrees

# Assuming df is your DataFrame with 'region_sp_str' and 'avg_temp_y' columns
avg_n30_by_region = df.groupby('region_sp_str')['avg_n30_y'].mean()
sorted_regions_n30 = avg_n30_by_region.sort_values(ascending=False).index.tolist()

In [ ]:
#Graph for start time and n30
# Assuming df is your DataFrame with 'region_sp_str' and 'avg_temp_y' columns
sns.set(style="white", rc={"axes.facecolor": (0, 0, 0, 0)})

# Number of regions
num_regions = len(sorted_regions_n30)

# Create a reversed color gradient from red to blue
colors = sns.color_palette("RdBu_r", n_colors=num_regions)[::-1]

# Create a dictionary to map regions to colors
region_color_dict = dict(zip(sorted_regions_n30, colors))

plt.figure(figsize=(12, 8))

for region in sorted_regions_n30:
    # Subset to the region
    subset = df[df['region_sp_str'] == region]
    
    # Draw the density plot using kdeplot with color based on avg_temp_y
    sns.kdeplot(subset['start_work_time'], label=region, color=region_color_dict[region], linewidth=1, warn_singular=False)

plt.legend(prop={'size': 10}, title='Regions (Most to Least Days>=30)', bbox_to_anchor=(1, 1), loc='upper left', facecolor='white')
plt.title('Density Plot of Start Work Time Within Spain')
plt.xlabel('Start Work Time (24 Hours)')
plt.xlim(0, 24)
plt.xticks(range(25))
plt.tick_params(axis='x', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels
plt.tick_params(axis='y', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels

plt.ylabel('Density')

# Save the plot as an image (e.g., JPG)
plt.savefig("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\Spain_Starttime_n30.jpg", bbox_inches='tight', dpi=300)

# Show the plot
plt.show()

In [ ]:
#Graph for end time and n30
# Assuming df is your DataFrame with 'region_sp_str' and 'avg_temp_y' columns
sns.set(style="white", rc={"axes.facecolor": (0, 0, 0, 0)})

# Number of regions
num_regions = len(sorted_regions_n30)

# Create a reversed color gradient from red to blue
colors = sns.color_palette("RdBu_r", n_colors=num_regions)[::-1]

# Create a dictionary to map regions to colors
region_color_dict = dict(zip(sorted_regions_n30, colors))

plt.figure(figsize=(12, 8))

for region in sorted_regions_n30:
    # Subset to the region
    subset = df[df['region_sp_str'] == region]
    
    # Draw the density plot using kdeplot with color based on avg_temp_y
    sns.kdeplot(subset['end_work_time'], label=region, color=region_color_dict[region], linewidth=1, warn_singular=False)

plt.legend(prop={'size': 10}, title='Regions (Most to Least Days>=30)', bbox_to_anchor=(1, 1), loc='upper left', facecolor='white')
plt.title('Density Plot of End Work Time Within Spain')
plt.xlabel('End Work Time (24 Hours)')
plt.xlim(0, 24)
plt.xticks(range(25))
plt.tick_params(axis='x', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels
plt.tick_params(axis='y', which='both', bottom=True, top=False, labelbottom=True)  # Hide x-axis tick labels

plt.ylabel('Density')

# Save the plot as an image (e.g., JPG)
plt.savefig("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\Spain_Endtime_n30.jpg", bbox_inches='tight', dpi=300)

# Show the plot
plt.show()