In [19]:
#IMPORTS
import pandas as pd
import numpy as np

In [20]:
merged_spain_MTUS_copy_2=pd.read_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\MTUS_Spain_STEP2.dta")

In [21]:
merged_spain_MTUS_copy_2.sort_values(by=['ident', 'rectype_str', 'clockst_base10'], ascending=[True, False, True], inplace=True)

In [ ]:
#Formatting again so that time use variables only appear once in the Person row of the df
merged_spain_MTUS_copy_2.sort_values(by=['ident', 'rectype_str', 'clockst_base10'], ascending=[True, False, True], inplace=True)
merged_spain_MTUS_copy_2.reset_index(drop=True, inplace=True)  # Reset the index
start_work = {}
start_work_h={}
start_commute={}
work_at_h={}
work_not_h={}


# Iterate through the rows
for index, row in merged_spain_MTUS_copy_2.iterrows():
    current_person = row['ident']
    start_work_time=row['start_work_time']
    start_work_time_home=row['start_work_time_home'] 
    start_commute_time=row['start_commute_time'] 
    work_at_home=row['work_at_home']    
    work_not_home=row['works_not_home']
    
    
    if start_work_time!='None':
        start_work[current_person]=start_work_time
        
    if start_work_time_home!='None':
        start_work_h[current_person]=start_work_time_home
        
    if start_commute_time!='None':
        start_commute[current_person]=start_commute_time
        
    if work_at_home!=0:
        work_at_h[current_person]=work_at_home

    if work_not_home!=0:
        work_not_h[current_person]=work_not_home

    

start_w = pd.DataFrame({
    'ident': list(start_work.keys()),
    'start_work_time1': list(start_work.values()),
})

start_wh = pd.DataFrame({
    'ident': list(start_work_h.keys()),
    'start_work_time_home1': list(start_work_h.values()),
})

start_com = pd.DataFrame({
    'ident': list(start_commute.keys()),
    'start_commute_time1': list(start_commute.values()),
})

work_ah = pd.DataFrame({
    'ident': list(work_at_h.keys()),
    'work_at_home1': list(work_at_h.values()),
})

work_noth = pd.DataFrame({
    'ident': list(work_not_h.keys()),
    'work_not_home1': list(work_not_h.values()),
})

In [ ]:
#Merge for formating so that the time use variables appear in every row of that Person
merged_spain_MTUS_copy_2 = merged_spain_MTUS_copy_2.merge(start_w, left_on=['ident'], right_on=['ident'], how='left')
merged_spain_MTUS_copy_2 = merged_spain_MTUS_copy_2.merge(start_wh, left_on=['ident'], right_on=['ident'], how='left')
merged_spain_MTUS_copy_2 = merged_spain_MTUS_copy_2.merge(start_com, left_on=['ident'], right_on=['ident'], how='left')
merged_spain_MTUS_copy_2 = merged_spain_MTUS_copy_2.merge(work_ah, left_on=['ident'], right_on=['ident'], how='left')
merged_spain_MTUS_copy_2 = merged_spain_MTUS_copy_2.merge(work_noth, left_on=['ident'], right_on=['ident'], how='left')

In [ ]:
#Format so that the time use variables only appear once in the Person row, not in the subsequent Diary rows
merged_spain_MTUS_copy_2['start_work_time1'] = merged_spain_MTUS_copy_2.apply(
    lambda row: row['start_work_time1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

merged_spain_MTUS_copy_2['start_work_time_home1'] = merged_spain_MTUS_copy_2.apply(
    lambda row: row['start_work_time_home1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

merged_spain_MTUS_copy_2['start_commute_time1'] = merged_spain_MTUS_copy_2.apply(
    lambda row: row['start_commute_time1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

merged_spain_MTUS_copy_2['work_at_home1'] = merged_spain_MTUS_copy_2.apply(
    lambda row: row['work_at_home1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

merged_spain_MTUS_copy_2['work_not_home1'] = merged_spain_MTUS_copy_2.apply(
    lambda row: row['work_not_home1'] if row['rectype_str'] == 'Person' else None,
    axis=1
)

In [ ]:
merged_spain_MTUS_copy_2 = merged_spain_MTUS_copy_2.rename(columns={'work_at_home1': 'work_at_home', 'work_not_home1': 'works_not_home', 'start_commute_time1': 'start_commute_time', 'start_work_time_home1': 'start_work_time_home', 'start_work_time1': 'start_work_time'})

In [9]:
# Replace 'None' with NaN in the columns
merged_spain_MTUS_copy_2['start_commute_time'] = merged_spain_MTUS_copy_2['start_commute_time'].replace('None', np.nan)
merged_spain_MTUS_copy_2['start_work_time_home'] = merged_spain_MTUS_copy_2['start_work_time_home'].replace('None', np.nan)
merged_spain_MTUS_copy_2['start_work_time'] = merged_spain_MTUS_copy_2['start_work_time'].replace('None', np.nan)
merged_spain_MTUS_copy_2['total_break_time_peak'] = merged_spain_MTUS_copy_2['total_break_time_peak'].replace('None', np.nan)
merged_spain_MTUS_copy_2['total_break_time_offpeak'] = merged_spain_MTUS_copy_2['total_break_time_offpeak'].replace('None', np.nan)

# Now convert the columns to float
merged_spain_MTUS_copy_2['start_commute_time'] = merged_spain_MTUS_copy_2['start_commute_time'].astype(float)
merged_spain_MTUS_copy_2['start_work_time_home'] = merged_spain_MTUS_copy_2['start_work_time_home'].astype(float)
merged_spain_MTUS_copy_2['start_work_time'] = merged_spain_MTUS_copy_2['start_work_time'].astype(float)
merged_spain_MTUS_copy_2['total_break_time_peak'] = merged_spain_MTUS_copy_2['total_break_time_peak'].astype(float)
merged_spain_MTUS_copy_2['total_break_time_offpeak'] = merged_spain_MTUS_copy_2['total_break_time_offpeak'].astype(float)





# merged_spain_MTUS_copy_2['start_commute_time'] = merged_spain_MTUS_copy_2['start_commute_time'].astype(float)
# merged_spain_MTUS_copy_2['start_work_time_home'] = merged_spain_MTUS_copy_2['start_work_time_home'].astype(float)
# merged_spain_MTUS_copy_2['start_work_time'] = merged_spain_MTUS_copy_2['start_work_time'].astype(float)
# merged_spain_MTUS_copy_2['total_break_time_peak'] = merged_spain_MTUS_copy_2['total_break_time_peak'].astype(float)
# merged_spain_MTUS_copy_2['total_break_time_offpeak'] = merged_spain_MTUS_copy_2['total_break_time_offpeak'].astype(float)

In [18]:
merged_spain_MTUS_copy_2.to_stata("C:\\Users\\joyse\\Desktop\\UROP\\Fall 2023\\MTUS\\MTUS_Spain_STEP3.dta")

AttributeError: 'DataFrame' object has no attribute 'dtype'